@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body{
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
  }

  .admin{
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    gap: 8px;
  }

  .admin_container{
    display: flex;
    width: 100%;
    gap: 42px;
    

  }

  .btn_logout{
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 16px;
    width: 50%;
    padding: 8px 8px;
    }

  .dashboard{

    display: flex;
    flex-direction: column;
    border: #dddddd 2px solid;
    gap: 24px;
    border-radius: 16px;
    width: 25vw;
    justify-content: space-evenly;
    height: 96%;
    padding: 28px 0 30px;
    margin-top: 16px;
    margin-left: 24px;
    background: #fff;
    
  }


#users{
  display: none;
  margin-top: 16px;
  
}
#completedProjects{
  display: none;
}
 
.btn_dash{
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
  height: 46px;
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 8px 8px;

}

.add_project{
  border-radius: 5px;
  background-color: #fff;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32vw;
  margin-top: 16px;
  margin-left: 24px;  
}
input{
  width: 94%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #999;
}
#add_project,#assign_project1{
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
  height: 46px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 16px;
  width: 94%;
  

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .completedProjects{
    display: none;
  
  }